.DS_Store
__pycache__
*/language.egg-info
.vscode
drfact_data/knowledge_corpus/gkb_best.drfact_format.jsonl
drfact_data/knowledge_corpus/gkb_best.prepro.jsonl
albert/
drfact_data/local_drfact_index
drfact_data/local_drfact_index
*.jsonl.BM25.*.jsonl
*.jsonl.DPR.*.jsonl
.idea
# baseline_methods/DPR/dpr-master
drfact_data/datasets/*/linked_train.*.jsonl
drfact_data/datasets/*/linked_dev.*.jsonl
drfact_data/datasets/*/linked_train.jsonl.*.jsonl
drfact_data/datasets/*/linked_dev.jsonl.*.jsonl
!drfact_data/datasets/*/linked_dev.meta_data.jsonl
!drfact_data/datasets/*/linked_dev.meta_data_amt.jsonl
*1hop*
*2hop* 
baseline_methods/Reader/squad_data
cached_*
runs/
*.pkl
baseline_methods/DPR/results/*_*_result.jsonl
baseline_methods/BM25/results/*_*_result.jsonl
drfact_data/squad_format_data
baseline_methods/Reader/results/*.jsonl
drfact_data/fact2fact_index/
drfact_data/drfact_results/*result.jsonl
drfact_data/drkit_results/*result.jsonl